.mainContainer
{
    display: flex;
    width: 100%;
    height: 60px;
    overflow: hidden;
    justify-content: space-between;
    padding: 2px;
    padding-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    background: rgb(167,165,212);
    background: linear-gradient(90deg, rgba(167,165,212,1) 0%, rgba(43,255,160,1) 0%, rgba(1,213,252,1) 97%, rgba(0,212,255,1) 100%);
}

.logoContainer
{ padding-left: 5px;
    padding-right: 10px;
  display: flex;
  align-items: center;
  gap:15px;
  font-size: 4vw;
  text-shadow: 2pc;
  font-style: italic;

}
.optionsContainer{
    align-items: flex-end;
    display: flex;
   overflow: hidden;
    gap:20px;
    height: 100%;
    
    margin-right: 20px;
    
}
.optionsContainer h2{
    margin: 0px;
}
.profileImg {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adjust values for a softer shadow */
    display: flex; /* Centers content vertically within */
    align-items: center;
    justify-content: center;
  }
  
.cartContainer
{
    margin: 5px;;
    align-items: end;
    
}